@import url("https://fonts.googleapis.com/css?family=Kaisei+Decol:400");

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


nav{
    background-color: #323232;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    font-family: var(font-title);
    position: relative  ;
    z-index: 100;
}

nav .logo{
    height: 3rem;
    margin-left: 2rem;
}

nav .logo img{
    height: 100%;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size:1.2rem;
}

nav ul li,a{
    color: #FFFFFF;
    margin: 0px 1rem 0px 1rem;
    text-decoration: none;
}

/* nav ul li:nth-child(4){
    display: none;
} */

nav .login_button{
    margin-right: 2rem;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    padding: .3rem;
}

.general_frame{
    display: grid;
    place-items: center;  
    position: relative;
    width: 100%;
    background: none;
    font-family: 'Kaisei Decol';
    font-style: normal;
    text-align: center;
    background-color: #FFFFFF;
    background-image: url(../images/Jumeirah+Beach+Hotel_FP001.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
   
    
}

h1 {
    margin: auto;
    font-size: 1rem;
}


select {
    font-family: 'Hind';
    font-style: normal;
    background-color:#AAA;
    width: 400px;
}

input {
    background-color: #AAA;
    width: 400px;
    font-family: 'Hind';
    font-style: normal;
}

label {
    font-family: 'Hind';
    font-style: normal;
}

.forms_container{
    background-color: rgba(217,217,217,1);
    width: 95%;
    opacity: 95%;
    height: calc(100vh - 4rem);
    position: relative;
}

.container_title{
    background-color: rgb(231, 227, 216);
    width: 100%;
    border: 1px solid red;
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
}

.container_title h1{
    color: black;
    font-family: "Kaisei Decol";
    font-weight: 400;
    font-size: 1.5rem;
    border: 1px solid red;
}

.forms{
    border: 1px solid red;
    display: grid;
    grid-template-areas:
    'registro buscar'
    'registro editareliminar'
    'registro editareliminar';
    grid-gap: 50px;
    place-items: center;
    height: auto;
    margin-top: 3rem;
}

.form_registro{
    border: 1px solid red;
    grid-area: registro;
    background-color: rgb(231, 227, 216);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form_title{
    border: 1px solid red;
    background-color: rgba(49, 49, 49, 1);
    display: flex;
    height: 2rem;
    top: -40px;
    color:#FFFFFF;
    font-family: "Kaisei Decol";
    align-self:flex-start;
    position: relative;
    width: 100%;
    flex: none;
    order:0;
    
}

.form_buscar{
    border: 1px solid red;
    grid-area: buscar;
    display: flex;
    flex-direction: column;
    justify-self:center;
    align-items: center;
    background-color: rgb(231, 227, 216);
    width: 35rem;
}

.form_editar{
    border: 1px solid red;
    grid-area: editareliminar ;
    background-color: rgb(231, 227, 216);
    height: 15rem;
    width: 35rem;
}

.agregar-usuario-group{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(49, 49, 49, 1);
    border-radius: 70px;
    height: 2rem;
    padding: 10px 27.7px;
    margin-top: 3rem;
}

.agregar-usuario{
    letter-spacing: 0;
    color: #FFFFFF;
}

.buscar-group{
    display: flex;
    align-items: center;
    background-color: rgba(49, 49, 49, 1);
    border-radius: 70px;
    height: 2rem;
    padding: 10px 27.7px;
    width: 10rem;
    justify-content: center;
    align-self: center;
    flex: none;
}

.buscar{
    letter-spacing: 0;
    color: #FFFFFF;
}

.actualizar-group{
    display: flex;
    align-items: center;
    background-color: rgba(49, 49, 49, 1);
    border-radius: 70px;
    height: 2rem;
    padding: 10px 27.7px;
    width: 8rem;
    justify-content: center;
    align-self: center;
    flex: none;
   /*  position: absolute;
    left: 7rem;
    bottom: 1.5rem; */
    

}

.actualizar{
    letter-spacing: 0;
    color: #FFFFFF;
}

.eliminar-group{
    display: flex;
    align-items: center;
    background-color: rgba(49, 49, 49, 1);
    border-radius: 70px;
    height: 2rem;
    padding: 10px 27.7px;
    width: 8rem;
    justify-content: center;
    align-self: center;
    flex: none;
    /* position: absolute;
    left: 19rem;
    bottom: 1.5rem; */
    

}

.eliminar{
    letter-spacing: 0;
    color: #FFFFFF;
}

.input-object{
   
    display: flex;
    flex-direction: column;
}
.salir-group{
    display: flex;
    align-items: center;
    background-color: #755b5b;
    border-radius: 70px;
    height: 2rem;
    padding: 10px 27.7px;
    width: 2rem;
    justify-content: center;
    

}

.salir{
    letter-spacing: 0;
}

input{
    padding: 0.1rem;
    margin: auto;
    left: 1rem;
    width: 25rem;
    font-family: "Kaisei Decol";
    align-self: center;

}

select{
    padding: 0.1rem;
    margin: auto;
    left: 1rem;
    width: 25rem;
    font-family: "Kaisei Decol";
    align-self: center;

}