<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../css/formularioContacto.css" type="text/css" />
    <meta
        description="Página de registro de huespedes del sistema de gestión de reservas del hotel Jumeirah Emirates Towers." />
</head>

<body id="bodyRegistro">
    <div class="whiteBox">

    </div>
    
    <head>
        <nav>
            <div class="logo">
                <img src="../images/jhrlogo2019white.webp" alt="logo">
            </div>
            <ul>
                <li><a href="HomePage.html">HomePage</a></li>
                <li><a href="UserMain.html">Cuartos y Suits</a></li>
                <li><a href="formularioContacto.html">Contacto</a></li>
                <li><a href="#">Usuarios</a></li>
            </ul>
            <div class="login_button">
                <a href="inicioSesion.html">Login</a>
            </div>
        </nav>
    </head>

    <div id="titleRegistro">
        <h1 id="h1Registro">Formulario de contacto</h1>
    </div>

    <div id="form">
        <form action="" method="">
            <div id="flexForm">
                <div id="formLabels">
                    <label>Nombre</label>
                    <br/>
                    <label>Número ID.</label>
                    <br/>
                    <label>Email</label>
                    <br/>
                    <label>Comentario</label>
                </div>
                <div id="formInputs">
                <input class="inputRegistro" type="text" name="emailUser" autocomplete="email"/>
                <br />
                <input class="inputRegistro" type="text" name="idUser" autocomplete="id"/>
                <br />
                <input class="inputRegistro" type="email" name="emailUser" autocomplete="email"/>
                <br />
                <input id="comentarioField" class="inputRegistro" type="password" name="passwordUser" autocomplete="password">
                </div>
            </div>
        </form>
        <div id="buttonsRegistro">
            <button href="UserMain.html" id="buttonRegistro" class="button" value="enviarFormulario"><a href="#">Enviar formulario</a></button>
        </div>

    </div>
</body>

</html>