<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones de Administrador</title>
    <link rel="stylesheet" href="../css/menu_admin.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../images/logo.png" alt="logo"/>
            </div>
            <ul>
                <li><a class="homepage" href="HomePage.html">Home Page</a></li>
                <li><a href="UserMain.html">Habitaciones y Suits</a></li>
                <li><a href="formularioContacto.html">Contactos</a></li>
                <li><a href="#">Usuarios</a></li>
            </ul>
            <div class="login_button">
                <a href="inicioSesion.html">Login</a>
            </div>
        </nav>
    </header>

    <section>
        <div class="cuerpo">
            <div class="centerItems">    
                <h1 class="admin_welcome">Bienvenido, ¿qué desea hacer? </h1>
                <div class="opcion1">
                    <div class="gestionar-habitaciones valign-text-middle">
                        <a href="SAdmin_gestionar_habitaciones.html">Gestionar Habitaciones</a>
                    </div>
                </div>
                <div class="opcion2">
                    <div class="gestionar-reservas valign-text-middle">
                        <a href="admin_reservas.html">Gestionar Reservas</a>
                    </div>
                </div>
            </div>
                <div class="opcionsalir">
                    <a href="HomePage.html" class="gestion-salir">Salir</a>
        </div>
    </section>
</body>
</html>