<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Usuarios</title>
    <link rel="stylesheet" type="text/css" href="../css/estilos_menu_SAdmin_gestionar_usuarios.css" />
</head>

<body>
    <div class="whiteBox">

    </div>

    <head>
        <nav>
            <div class="logo">
                <img src="../images/logo2.webp" alt="logo">
            </div>
            <ul>
                <li><a href="#">HomePage</a></li>
                <li><a href="#">Cuartos y Suits</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Usuarios</a></li>
            </ul>
            <div class="login_button">
                <a href="#">Login</a>
            </div>
        </nav>
    </head>
    <div class="general_frame">
        <div class="forms_container">
            <div class="container_title"></div>
            <h1 class="title valign-text-middle">Gestionar Usuarios</h1>
            <div class="salir-group valign-text-middle">
                <div class="salir"><a href="./menu_SAdmin.html">Salir</a></div>
            </div>
            <div class="forms">
                <div class="form_registro">
                    <form action="" method="">
                        <div class="form_title">
                            <h1>Registrar Usuarios</h1>
                        </div>
                        <div class="input-object"><label for="user_role">Seleccione rol a asignar:</label>
                            <select id="user_role" name="user_role" value="Seleccione un rol">
                                <option value="Huesped">Huesped</option>
                                <option value="Administrador">Administrador</option>
                                <option value="Superadministrador">Superadministrador</option>
                            </select>
                        </div>
                        <div class="input-object">
                            <label for="user_name">Nombre</label>
                            <input type="text" name="user_name" id="user_name" autocomplete="name">
                        </div>
                        <div class="input-object">
                            <label for="user_id">Número ID</label>
                            <input type="text" name="user_id" id="user_id" autocomplete="id">
                        </div>
                        <div class="input-object">
                            <label for="user_email">Email</label>
                            <input type="email" name="user_email" id="user_email" autocomplete="email">
                        </div>
                        <div class="input-object">
                            <label for="user_password">Asignar Contraseña</label>
                            <input type="password" name="user_password" id="user_password" autocomplete="new-password">
                        </div>
                        <div class="agregar-usuario-group">
                            <a class="agregar-usuario valign-text-middle">Agregar Usuario</a>
                        </div>
                    </form>
                </div>
                <div class="form_buscar">
                    <form action="" method="">
                        <div class="form_title">
                            <h1>Consulta y Edición de Usuarios</h1>
                        </div>
                        <div class="input-object"><label for="user_id">Número ID</label>
                            <input type="text" name="user_id" id="user_id" autocomplete="cc-number">
                        </div>
                        <div class="buscar-group">
                            <div class="buscar valign-text-middle">Buscar
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form_editar">
                    <form action="" method="">
                        <div class="form_title">
                            <h1>Resultado de la búsqueda</h1>
                        </div>
                        <div class="input-object"><label for="user_name">Nombre</label>
                            <input type="text" name="user_name" id="user_name" autocomplete="name">
                        </div>
                        <div class="input-object"><label for="user_email">Email</label>
                            <input type="email" name="user_email" id="user_email" autocomplete="email">
                        </div>
                        <div class="input-object"><label for="user_password">Contraseña</label>
                            <input type="password" name="user_password" id="user_password" autocomplete="new-password">
                        </div>
                        <div class="input-object"><label for="user_role">Rol </label>
                            <select id="user_role" name="user_role" value="Seleccione un rol">
                                <option value="Huesped">Huesped</option>
                                <option value="Administrador">Administrador</option>
                                <option value="Superadministrador">Superadministrador</option>
                            </select>
                        </div>
                        <div class="actualizar-group">
                            <div class="actualizar valign-text-middle">Actualizar
                            </div>
                        </div>
                        <div class="eliminar-group">
                            <div class="eliminar valign-text-middle">Eliminar
                            </div>
                        </div>

                    </form>
                </div>



            </div>
        </div>


    </div>
</body>

</html>