{% extends "navbar.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/calificarReserva.css')}}">
{% endblock %}

{% block principal %}
    <style type="text/css">
        body {
            background-image: url("/static/images/fondoContacto.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>

    <div class="whiteBox">

    </div>

    <div id="titleRegistro">
        <h1 id="h1Registro">Calificación de reserva</h1>
    </div>

    <div id="form">
        <form action="" method="">
            <div id="flexForm">
                <div id="formLabels">
                    <label>Reserva ID.</label>
                    <br/>
                    <label>Huesped</label>
                    <br/>
                    <label>Fechas</label>
                    <br/>
                    <label>Calificación</label>
                    <br/>
                    <label>Comentario</label>
                </div>
                <div id="formInputs">
                <input class="inputRegistro" type="text" name="emailUser" autocomplete="email"/>
                <button id="buscarButton">Buscar</button>
                <br/>
                <input class="inputRegistro" type="text" name="idUser" autocomplete="id"/>
                <br/>
                <input class="inputRegistro" type="email" name="emailUser" autocomplete="email"/>
                <br/>
                <input class="radioOption" type="radio" name="calificacion" value="1">
                <label>1</label>
                <input class="radioOption" type="radio" name="calificacion" value="2">
                <label>2</label>
                <input class="radioOption" type="radio" name="calificacion" value="3">
                <label>3</label>
                <input class="radioOption" type="radio" name="calificacion" value="4">
                <label>4</label>
                <input class="radioOption" type="radio" name="calificacion" value="5">
                <label>5</label>
                <br/>
                <input id="comentarioField" class="inputRegistro" type="text" name="comment">
                </div>
            </div>
        </form>
        <div id="buttonsRegistro">
            <button href="UserMain.html" id="buttonRegistro" class="button" value="enviarFormulario"><a id="buttonText" href="#">Enviar</a></button>
        </div>

    </div>
{% endblock %}