{% extends "navbar.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contacto.css')}}">
{% endblock %}

{% block principal %}
    <style type="text/css">
        body {
            background-image: url("/static/images/fondoContacto.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>

    <div class="whiteBox">

    </div>

    <div id="titleRegistro">
        <h1 id="h1Registro">Formulario de contacto</h1>
    </div>

    <div id="form">
        <form action="" method="POST">
            {{form.hidden_tag()}}
            <div id="flexForm">
                <div id="formLabels">
                    {{form.nombre.label}}
                    <br/>
                    {% for error in form.nombre.errors %}
                        <span style="color: red">[{{error}}]]</span>
                    {% endfor %}
                    {{form.numeroId.label}}
                    <br/>
                    {% for error in form.numeroId.errors %}
                        <span style="color: red">[{{error}}]]</span>
                    {% endfor %}
                    {{form.email.label}}
                    <br/>
                    {% for error in form.email.errors %}
                        <span style="color: red">[{{error}}]]</span>
                    {% endfor %}
                    {{form.comentario.label}}
                    {% for error in form.comentario.errors %}
                        <span style="color: red">[{{error}}]]</span>
                    {% endfor %}
                </div>
                <div id="formInputs">
                <!-- <input class="inputRegistro" type="text" name="nombreUser" autocomplete="name"/> -->
                {{form.nombre(class_="inputRegistro")}}
                <br />
                <!-- <input class="inputRegistro" type="text" name="idUser" autocomplete="id"/> -->
                {{form.numeroId(class_="inputRegistro")}}
                <br />
                <!-- <input class="inputRegistro" type="email" name="emailUser" autocomplete="email"/> -->
                {{form.email(class_="inputRegistro")}}
                <br />
                <!-- <input id="comentarioField" class="inputRegistro" type="text" name="comment"> -->
                {{form.comentario(class_="inputRegistro", size=50)}}
                </div>
            </div>
            <div id="buttonsRegistro">
                <input type="submit" id="buttonRegistro" class="button" value="Enviar formulario"/>
                <!-- {{form.enviar(class_="button")}} -->
            </div>
        </form>
    </div>
    
{% endblock %}