{% extends "navbar.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menuHuesped.css')}}">
{% endblock %}

{% block principal %}
    <section>
        <div class="cuerpo">
            <div class="centerItems">    
                <h1 class="admin_welcome">Bienvenido, ¿qué desea hacer? </h1>
                <a class="buttonText opcion1 gestionar-habitaciones valign-text-middle" href="/realizarreserva">Realizar reserva</a>
                <a class="buttonText opcion2 gestionar-habitaciones valign-text-middle" href="/editarreserva">Editar reserva</a>
                <a class="buttonText opcion3 gestionar-habitaciones valign-text-middle" href="/eliminarreserva">Eliminar reserva</a>
                <a class="buttonText opcion4 gestionar-habitaciones valign-text-middle" href="/calificarreserva">Calificar reserva</a>
            </div>
            <div class="opcionsalir">
                <a href="/home" class="gestion-salir">Salir</a>
            </div>
        </div>
    </section>
{% endblock %}