{% extends "navbar.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/realizarReservaAdmin.css')}}">
{% endblock %}

{% block principal %}
    <div class="whiteBox">

    </div>

    <div class="general_frame">
        <div class="forms_container">
            <div class="container_title"></div>
            <h1 class="title valign-text-middle">Gestionar Reservas</h1>
            <div class="salir-group valign-text-middle">
                <div class="salir"><a href="/home">Salir</a></div>
            </div>
            <div class="forms">
                <div class="form_registro">
                    <form action="" method="POST">
                        <div class="form_title">
                            <h1>Realizar una reserva</h1>
                        </div>
                        <div class="input-object">
                            {{form1.fechaInicio.label(class_="label")}}
                            {{form1.fechaInicio(class_="realizarInput")}}
                        </div>
                        <div class="input-object">
                            {{form1.fechaFinal.label(class_="label")}}
                            {{form1.fechaFinal(class_="realizarInput")}}
                        </div>
                        <div class="input-object">
                            {{form1.numId.label(class_="label")}}
                            {{form1.numId(class_="realizarInput")}}
                        </div>
                        <div class="input-object">
                            {{form1.numHabitacion.label(class_="label")}}
                            {{form1.numHabitacion(class_="realizarInput")}}
                        </div>
                        <div class="input-object">
                            {{form1.codigoReserva.label(class_="label")}}
                            {{form1.codigoReserva(class_="realizarInput")}}
                        </div>

                        <div class="realizar-reserva-group">
                            <div class="realizar-reserva valign-text-middle">
                                {{form1.realizarReservaAdmin(class_="realizarReservaAdmin")}} 
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}