{% extends "navbar.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registroHuesped.css')}}">
{% endblock %}

{% block principal %}
    <style type="text/css">
        body {
            background-image: url("/static/images/fondoRegistro.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>

    <div class="whiteBox">

    </div>

    <div id="titleRegistro">
        <h1 id="h1Registro">Registro de Huespedes</h1>
    </div>

    <div id="form">
        <form action="" method="">
            <div id="flexForm">
                <div id="formLabels">
                    <label>Nombre</label>
                    <br/>
                    <label>Número ID.</label>
                    <br/>
                    <label>Email</label>
                    <br/>
                    <label>Contraseña</label>
                    <br/>
                    <label>Confirmar Contraseña</label>
                </div>
                <div id="formInputs">
                <input class="inputRegistro" type="text" name="emailUser" autocomplete="email"/>
                <br />
                <input class="inputRegistro" type="text" name="idUser" autocomplete="id"/>
                <br />
                <input class="inputRegistro" type="email" name="emailUser" autocomplete="email"/>
                <br />
                <input class="inputRegistro" type="password" name="passwordUser" autocomplete="password">
                <br />
                <input class="inputRegistro" type="password" name="passwordUser" autocomplete="password">
                </div>
            </div>
        </form>
        <div id="buttonsRegistro">
            <button href="UserMain.html" id="buttonRegistro" class="button" value="Completar registro"><a id="buttonText" href="UserMain.html">Completar registro</a></button>
        </div>

    </div>
{% endblock %}